html, body{
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: space-around;
  display: inline-block;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  margin: 0px;
  background-image: url('/assets/cork-wallet.png');
}
html{
  background-color: white;
}
#image{
  padding-left: 100px;
  padding-right: 100px;
}
#edit{
  padding-left:100px;
}
h1 {
  color: grey
}
#footer{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#header{
  font-size: 70px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#content{
  text-align: center;
}
#picture{
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}
#author{
  text-align: center;
}
#description{
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Open Sans', sans-serif;
}
#link{
  color: grey;
  padding-left: 100px;
  text-align: left;
  padding-bottom: 20px;
}
.topnav {
  background-color: #333333;
  overflow: hidden;
}
.topnav a {
  float:left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a:hover {
  background-color: #4CAF50;
  color: white;
}
#headerPara{
  visibility: hidden;
}

@media(min-width: 1025px){
.gallery{
  display: flex;
  width: 960px;
  flex-direction: column;
}
html, body{
  margin:0;
  width: 100%;
}
#link{
  display: block;
}
#image{
  text-align: center;
  // padding-left: 0px;
  // padding-right: 0px;
}
#description{
  text-align: center;
  padding-left: 150px;
  padding-right: 0px;
}
#picture{
  text-align: center;
}
#link{
  text-align: left;
  padding-left: 100px;
  padding-right: 0px;
}
#header{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 200px;
  font-size: 35px;
}
// #header_info{
//   margin-left: 500px;
//   margin-right: 200px
// }
p{
  font-size: 12px;
  width: 400px;
  margin-right: 200px;
  color: rgb(187, 187, 187);
}
#edit{
  text-align: center;
}

