<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
  <link href='/css/style.css' rel='stylesheet' media='screen'>
</head>

<body>
  
  <div id="header">
  <h1>_ARCHITEKT</h1>
  </div id='content'>
  {{{body}}}

</body>

</html>

