<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
  <link href='/css/style.css' rel='stylesheet' media='screen'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>

  <div class="topnav">
    <a class='active' href='/gallery'>HOME</a>
    {{#if user}}
    <a class='active' href='/gallery/new'>UPLOAD</a>
    {{/if}}
    <a class='active' href='/user/new'>REGISTER</a>
    <a class='active' href='/user/login'>LOGIN</a>
    <a class='active' href='/logout'>LOGOUT</a>
  </div>

  <div id="content">





  <div id="headerTitle">
  <h1>_ARCHITEKT</h1>
  </div>

  <div id="headerPara">
    <p id='headerPara'>Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative stops. Free Artchitect WordPress Theme</p>
  </div>



  {{{body}}}

  </div>

</body>

<footer id='footer'>
  <p>Copyright www.fantasticnorway.no</p>
</footer>

</html>

