

{{#each collection}}
  <div class="gallery">
    <div id="picture">
    <img src="{{this.link}}" alt="">
    </div>
    {{!-- <div id="author">
    <h1>{{this.author}}</h1>
    </div> --}}
    <div id="link">
    <a href="/gallery/{{id}}">~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</a>
    </div>
    {{!-- <div id="id">{{id}}</div> --}}
  </div>
{{/each}}



