

<h1>LOGIN</h1>

  <form action="/login" method="POST">
    <label for="Put-name">username:</label>
    <input id="usernameID" type="text" placeholder="{{username}}" name="username">
    <label for="Put-name">password:</label>
    <input id="passwordID" type="text" placeholder="{{password}}" name="password">
    <input type="submit" value="submit">
  </form>