html {
  background-color: white; }

#header {
  text-align: center;
  font: grey; }

#content {
  text-align: center; }

#picture {
  text-align: center; }

#author {
  text-align: center; }

#link {
  text-align: center; }
